/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* All Variables Needed */
:root {
  --primary-color: hwb(224 39% 0%);
  --secondary-color: #4f76ea;
  --accent-color: #094aef;
  --background-color: #d9d9f2;
  --text-color: #000000;
  --primary-font: 'Quantify', sans-serif;
  --glassgradient: linear-gradient(120deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.8));
}

.dark-mode {
  --primary-color: #191f30;
  --secondary-color: #28396b;
  --accent-color: #094aef;
  --background-color: #030303;
  --text-color: #e0dce7;
  --primary-font: 'Quantify', sans-serif;
  --glassgradient: linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2));
}

@font-face {
  font-family: 'Quantify';
  src: url('/fonts/Quantify.woff2') format('woff2'),
    url('/fonts/Quantify.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Dark mode Toggle */
.modetogcontainer {
  position: fixed;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--text-color);
  color: var(--background-color);
  z-index: 5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  right: 18px;
}

.modetogglebutton :last-child {
  display: none;
}

.modetogglebutton.active :first-child {
  display: none;
}

.modetogglebutton.active :last-child {
  display: block;
}

.modetogglebutton {
  transition: all 450ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Body Stuff */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.3s ease-in-out;
  background-image: url(../ASSETS/wallpaperflare.com_wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

main {
  width: 100%;
  color: var(--text-color);
  min-height: 100vh;
  perspective: 1000px;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  position: fixed;
  left: 0;
  
  height: 100vh;
  background: var(--glassgradient);
  backdrop-filter: blur(9px);
  width: 11rem;
  padding: 0.8rem 0.18rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  z-index: 10;
  font-size: 0.8rem;
}

nav::before {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 100%;
  top: 0;
  left: 100%;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 18px;
  padding: 0 0.18rem;
  background-color: var(--primary-color);
  border-radius: 3.6px;
  cursor: pointer;
  box-shadow: 0 2.7px 9px -2.7px rgba(70, 46, 118, 0.3);
  right: -2.4rem;
  transform: translateY(-50%) translateX(-7px);
  opacity: 0;
  pointer-events: none;
  transition: 0.27s;
  display: flex;
  place-items: center;
}

.shrink-btn i {
  line-height: 24px;
  transition: 0.27s;
  align-self: center;
}

.shrink-btn:hover {
  background-color: var(--secondary-color);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.search {
  min-height: 2.2rem;
  background-color: var(--background-color);
  margin: 1rem 0.3rem 10rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  place-items: center;
  transition: all 0.4s ease-in-out;

}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-color);
  caret-color: var(--text-color);
  font-family: inherit;
  font-size: 0.8rem;
  min-width: 2rem;
  max-width: 100%;
  transition: all 0.4s ease-in-out;
}

.search input::placeholder {
  color: var(--text-color);
}

.sidebar-links ul {
  position: relative;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 45px;
}

.icon {
  font-size: 1rem;
  text-align: center;
  min-width: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

.active-tab {
  width: 100%;
  height: 45px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  position: absolute;
  top: 2.5px;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

.sidebar-footer {
  position: relative;
  font-size: 0.85rem;
  margin-top: auto;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}

.account:hover {
  color: #fff;
}

.admin-user {
  display: flex;
  align-items: center;
}

.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;

}

.admin-user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.3rem;
  background-size: cover;
}

.admin-info {
  padding-left: 0.3rem;
}

.admin-info h3 {
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1;
  text-decoration: none;
  color: var(--text-color);
}

.admin-info h5 {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.log-out {
  display: flex;
  height: 35px;
  min-width: 2.4rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}

.log-out:hover {
  color: #fff;
}

.tooltip {
  background-color: var(--secondary-color);
  position: absolute;
  right: -1.2rem;
  top: 0;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.6rem;
  font-size: 0.75rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 25px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}

.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}

.tooltip span.show {
  opacity: 1;
}

.tooltip-element:hover~.tooltip {
  opacity: 1;
  pointer-events: all;
}

/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 3.5rem;
  padding: 0.9rem 0.2rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

body.shrink .sidebar-links h4 {
  height: 10px;
}

body.shrink .active-tab {
  width: 45px;

}

body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}

body.shrink .tooltip {
  display: grid;
}

body.shrink .search {
  min-width: 2.3rem;
}

body.shrink .search input {
  min-width: 1rem;
  max-width: 100%;
}



.dashboardcont {
  width: 90%;
  display: grid;
  max-height: 100%;
  grid-template-columns: 1fr 2fr 0.8fr;
    backdrop-filter: blur(20px);
  background: var(--glassgradient);
  position: relative;
  margin: 1rem auto;
  flex-wrap: wrap;
  border-radius: 30px;
  perspective: 1000px;
}

.centercont{
  grid-column: 2;
  grid-template-rows: span 3;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  margin: 0 auto;
padding: 4em 2em ;
}

.rightsidecont {
  grid-column: 3;
  grid-row: span 3;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: (5, 1fr);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border-top-left-radius: 10px;
  flex: 1;
  border-bottom-left-radius: 10px;

} 
.leftsidecont{
  grid-column: 1;
  grid-row: span 3;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: (2, 1fr);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border-top-right-radius: 10px;
  flex: 1;
  border-bottom-right-radius: 10px;
}
.weather {
  height: fit-content;
  overflow: hidden;
  grid-row: 1/3;
  grid-column: 1;
  width: fit-content;
  padding: 25px 35px 25px 25px;
  min-width: fit-content;
}



/* Announcements */
.announcements {
  padding: 30px;
  grid-row: 1;
  grid-column: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.announcements h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.announcements ul {
  list-style-type: none;
  padding: 0;
}

.announcements li {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.announcements li strong {
  font-weight: bold;
}

.announcements li .date {
  font-size: 0.9em;
  color: #888;
  margin-left: 10px;
}

/* To-do List */

.todocontainer {
  grid-column: 1;
  grid-row: 2/4;
  position: relative;
  margin: 10px 25px 10px 30px;
height: 400px;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  top: 200px;
  overflow: hidden;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  



}

.todo-app {
  position: relative;
  width: 100%;
  max-width: fit-content;
  margin: 10px;
  padding: 10px 0 10px;
  border-radius: 20px;
  height: 50%;
  background-color: transparent;

}

.todo-app h2 {

  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.todo-app h2 img {

  width: 30px;
  margin: 0 0 0px 20px;

}

.addtaskrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
  height: 30px;

}

input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1px;
  font-weight: 14px;

}

.todo-app button {
  border: none;
  outline: none;
  position: relative;
  padding: 6px 10px;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  height: 30px;

}

.todocontainer ul li {
  list-style: none;
  font-size: 13px;
  color: var(--text-color);
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding-top: 15px;

}

#todo-list-container {
  height:150px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 20px;



}

.todocontainer ul li::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(../ASSETS/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;


}


.todocontainer ul li.checked {
  color: #2e2c2c;
  text-decoration: line-through;

}

.todocontainer ul li.checked::before {
  background-image: url(../ASSETS/checked.png);

}

.todocontainer ul li span {

  position: absolute;
  top: 10px;
  right: 0;
  height: 28px;
  width: 28px;
  font-size: 22px;
  line-height: 28px;
  color: var(--text-color);
  text-align: center;
  border-radius: 50%;
  margin-left: 40px;


}

.todocontainer ul li span:hover {

  background: var(--accent-color);
  color: var(--text-color);

}

/* Calendar Page */

.elfsight-app-ef804d17-e122-4241-862b-e78446affcb7 {
  max-height: 100%;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(25px);
  width: 90%;
  margin: 0 auto;

}


/* Pomodoro Timer */



.pomocontainer {
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
  position: relative;
  margin: 10px 25px 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

.pomocontainer h1 {
  color: var(--text-color);
  font-size: 25px;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 12rem;
  padding: 10px;
  margin: 20px;
  border-radius: 10rem;

  font-weight: 500;

}

.panel p {
  opacity: .8;
  transition: 0.5s ease-in;
}

.panel p.active {
  opacity: 1;
  color: var(--accent-color);


}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 3px rgb(24, 22, 22);
  box-shadow: 0px 0px 25px 0.2px black;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: none;
  position: relative;
  text-align: center;
}

.circle::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  backdrop-filter: blur(15px);
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;

}

.time p {
  font-size: 4rem;
  text-align: center;
}

.time p:nth-of-type(2) {
  position: relative;
}

.controls {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
}

#reset {
  display: none;

}

.controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 15px;
  color: var(--text-color);
}

/* Motivational Quote */

.Quotescontainer {
  grid-column: 3;
  grid-row: 3;
  width: 100%;
  min-width: 300px;
    height: fit-content;
    max-height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px 40px;
  margin: 0 auto;

}

.Quotestext {

  height: 180px;
  padding: 10px 0;

  font-size: 20px;
  font-family: Georgia, serif;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

iframe {
  color: white;
  background-color: transparent;
  backdrop-filter: blur(15px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3);

}

iframe p {
  color: white;

}

/* Study Stats */
.study-stats {
  color: var(--text-color);
  padding: 35px;
  text-align: flex-start;
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.study-stats h3 {
  margin-bottom: 10px;
}

.study-stats p {
  margin: 5px 0;
}


/* News page */

.college-updates,
.assignments {

  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  border: 4px solid rgba(255, 255, 255, 0.2);
  margin: 10px auto;
  backdrop-filter: blur(15px);
}


.college-updates h1,
.assignments h1 {
  padding: 20px;
}

/*help*/

/* Overall Section Styling for both sections */
.content-wrapper {
  display: flex;
  width: 90%;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  border: solid 5px rgba(255, 255, 255, 0.5);
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(15px);
  background: var(--glassgradient);

}

/* Dashboard Overview Styling */
.dashboard-overview {
  height: auto;
  margin: 0 auto 30px;
  width: 80%;
  padding: 2rem;
  border-radius: 50px;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  font-weight: 200;

}

.dashboard-overview:first-child {
  text-align: center;
  margin-top: 10px;
}

.dashboard-overview p a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
}

.dashboard-overview h3 {
  font-size: 1.5em;
  color: var(--accent-color);
  margin-top: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.dashboard-overview p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
  width: 95%;
  padding-left: 10px;
}

.dashboard-overview strong {
  color: #2c3e50;
  font-weight: bold;
}

/* Basic Styling */
details {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  font-size: 1em;
  line-height: 1.3;
}

/* About Us */
.about-us {
  width: 80%;
  height: fit-content;
  line-height: 2rem;
  border-top: solid 3px rgba(255, 255, 255, 0.2);
  padding: 5rem;
  text-align: center;
  border-bottom: solid 3px rgba(255, 255, 255, 0.2);

}

.about-us h1 {
  text-align: center;
  margin: 0 auto 50px;

}

.about-us h6 {
  font-size: 10px;
}



/* Contact Section Styling */
.contact-section {
  height: fit-content;
  width: 80%;
  color: var(--text-color);

  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
}

.contact-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
  word-spacing: 10px;
}

.form-group {
  margin: 30px auto;
  width: fit-content;
}

#contact-form button {
  max-width: 200px;

}

#contact-form {
  max-height: 700px;
  display: flex;
  padding: 2vw 5vw;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-section label {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  color: var(--text-color);
}

.contactcontainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactcontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact-section input[type="text"],
.contact-section input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #b3afaf;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

.contact-section textarea {
  resize: none;
  min-height: 150px;
  width: 100%;
  background: transparent;
  border-radius: 15px;
  padding: 15px;
  backdrop-filter: blur(15px);

  margin-top: 1rem;

}


.contact-section input[type="text"]::placeholder,
.contact-section input[type="email"]::placeholder,
.contact-section textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.contact-section input[type="text"]:focus,
.contact-section input[type="email"]:focus {
  border: solid 1px rgba(255, 255, 255, 1);
}

.contact-section button {
  width: 100%;
  padding: 6px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20 px;
  font-size: 18px;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: var(--accent-color);
}

.contact-section p#form-message {
  text-align: center;
  margin-top: 15px;
  font-family: Georgia, serif;
  font-style: italic;
}


/* Courses paeg */

#course-list {
  width: 50%;
  margin: 0 auto;
  background: var(--glassgradient);
  backdrop-filter: blur(15px);
  padding: 10px 10px 5px 10px;
  border-radius: 20px;
  max-height: fit-content;

}

#course-list h1 {
  text-align: center;
  padding: 10px;
}

.course>h3 {
  background-color: transparent;
  color: var(--text-color);
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 10px;
  display: flex;
  font-weight: 200;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;

}

.course h3:hover {
  backdrop-filter: blur(20px);
}

.course .details {
  padding-left: 20px;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.course .details li {
  margin: 5px 0;
}

.course .details a {
  text-decoration: none;
  color: var(--text-color);
}

.course .details a:hover {
  text-decoration: underline;
}




/* Focus Mode */
.focusbut {
  width: 100px;
  height: 50px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border-radius: 20px;
  margin: 30px;
}

.focuscontainer {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 99;
  transition: all 0.7s ease-in-out, border-radius 1.5s ease-in-out;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.focused {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  z-index: 109;

}

.focuscontainer h1 {
  max-width: fit-content;
  color: whitesmoke;
  overflow: hidden;
  margin: 40px auto;
  width: 0;
  letter-spacing: 0.15em;
  white-space: nowrap;
  font-size: 1em;

  border-right: 0.15em solid var(--accent-color);
}


.animate {
  animation: typing 9.5s steps(46, end), blink-caret 0.75s step-end infinite;
}

/* Second pomodoro timer for the function screen  */


.pomocontainer2 {

  position: relative;
  margin: 10px 25px 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.pomocontainer2 h2 {
  color: white;
  font-size: 25px;

}

.panel2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 12rem;
  padding: 10px;
  margin: 20px;
  border-radius: 10rem;
  z-index: 999;
  color: white;
  font-weight: 500;

}

.panel2 p {
  opacity: .8;
  transition: 0.5s ease-in;
}

.panel2 p.active {
  opacity: 1;
  color: var(--accent-color);



}

.timer2 {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px 0.2px rgba(255, 255, 255, 0.5);

}

.circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: none;
  position: relative;
  text-align: center;

}

.circle2::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  backdrop-filter: blur(15px);

}

.time2 {
  position: relative;
  display: flex;

  flex-direction: row;

}

.time2 p {
  font-size: 4rem;
  text-align: center;

}

.time2 p:nth-of-type(2) {
  position: relative;
}

.controls2 {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  align-items: center;


  justify-content: center;
}

#reset2 {
  display: none;



}

.controls2 button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 15px;

  color: whitesmoke;

}

.focused .pomocontainer2 {
  opacity: 1;
}






















/* All Animations */

@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }

}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--accent-color);
  }
}





@media (max-width: 1200px) {

html{
overflow: scroll;
}
body{
  background-size: cover;
 
}
.dashboardcont {
  grid-template-columns: 1fr 1fr 1fr;
  backdrop-filter: none;
  background: transparent;
  scale: 0.9;
  margin: 2vh auto;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.3s ease-in-out;

}

.centercont , .rightsidecont , .leftsidecont{
  backdrop-filter: blur(20px);
  background: var(--glassgradient);
  border-radius: 30px;
  height:90vh;
  z-index: 5;
  transition: transform 0.4s ease;
  transform: translate3D(0, 0,-100px);
  opacity: 0.5;

  border: 1px solid rgba(255, 255, 255, 0.2);
}
.hovered{
  transform: translate3d(0,0,100px);
  opacity: 1;
  align-self: center;
  justify-self: center;
  z-index: 20;
  margin: 0 auto;
}

.hovered.rightsidecont{
  transform: translate3d(-100px,0,0);
  z-index:9;
}
.hovered.leftsidecont{
  transform: translate3d(100px,0,0);
  z-index: 9;
}
}
 @media (max-width: 950px){
  .dashboardcont{
    transform: translateX(-100px);
  }
 }
 @media (max-width: 816px){
  .dashboardcont{
    transform: translateX(-150px);
    scale: 0.8;
    
  }
 }
 @media (max-width: 700px){
  .dashboardcont{
    scale: 0.8;
    transform: translateX(-200px);

  }
.leftsidecont{

    transform: translate3D(100px, 0,-100px);
    z-index: 4;

  }
  .rightsidecont{

    transform: translate3D(-100px, 0,-100px);
    z-index: 4;


  }

  .hovered.leftsidecont{
    transform: translate3d(150px,0,0);
  }
  .hovered.rightsidecont{
    transform: translate3d(-200px,0,0);

  }
 }


 @media (min-width:400px) and (max-width:620px){

  .dashboardcont{
   margin-right: 10vw;
    scale: 0.75;
  }
 
 } 



 @media (max-width:400px) {

.dashboardcont{

  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(0%);
  height: fit-content;
  width: 100vw;
  margin-left: 6vw;
  backdrop-filter: blur(20px);
  gap: 0;
  background:var(--glassgradient);
 

 
}
.centercont{
  scroll-snap-align: start; 
}
.centercont, .rightsidecont, .leftsidecont {
  opacity: 1;
  transform: translate3d(0,0,0);
  height:fit-content;
  background: transparent;
  backdrop-filter: none;
  border:none;
  border-radius: 5px;
  scale: 0.8;
  padding: 2rem;
  
}
 }