body {
    font-family: Arial, sans-serif;
    
    background-color: #d9d9f2;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 500px;
    height: 550px;
    background-color: #4f76ea;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 35px 20px 20px rgba(0, 0, 0, 0.1);
    
}

h2{
    margin-bottom: 5px;
    margin-left: 10%;
    font-size: xx-large;
    color: #fff;
    text-align: center;
}

.form-container {
    width: 310px;
    margin: 30px 0;
    padding: 30px;
    box-sizing: border-box;
    height: 65%;
}

.input-box label { 
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formUp-container{
    width: 310px;
    margin: 30px 0;
    padding: 30px;
    box-sizing: border-box;
    height: 110%;
}



button {
    position: center;
    margin-top: 4px;
    margin-left: 18%;
    width: 75%;
    padding: 10px ;
    background-color:#d9d9f2;
    color: rgb(9, 9, 9);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
}

button:hover {
    background-color: #fff;
}

p {
    text-align: center;
}

span {
    color: #d9d9f2;
    cursor: pointer;
    font-weight: bold;
}

span:hover {
    text-decoration: underline;
}

/* Styles for the password container */
.password-container {
    position: relative;
    width: 100%;
}

.show-password {
    position: absolute;
    left: 245px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
}
/* Style for the Font Awesome icon */
.show-password i {
    color: #88a689;
    transition: color 0.3s;
}

.show-password:hover i {
    color: #88a689;
}