/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* All Variables Needed */
:root {

    --primary-color: #2f5ad0;
    --secondary-color: #102d84;
    --accent: #0638c1;
    --background-color: #030307;
    --text-color: #eef0f6;
    --primaryfont: 'Quantify', sans-serif;

}

@font-face {
    font-family: 'Quantify';
    src: url('/fonts/Quantify.woff2') format('woff2'),
        url('/fonts/Quantify.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Main Containers */

body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;         
    margin: 0;    
    background-color: var(--background-color);


  }


#maincontainer {

    width: 90vw;
    height: 90vh;
    background-color: rgb(6, 61, 61);
    border-radius: 20px;
    background-color: var(--secondary-color);

    


}

/* Top Section and its parts */

.topsection{

    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0px 0px;

    
}

.leftsidetop{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;


}
.profilepic{

    width: 3.5rem;
    height:  3.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-left: 1vw;

}
h1 {

    padding: 1rem;
     font-family: var(--primaryfont);
     font-size: clamp(1.5rem, 4vw, 2.5rem);   
    color: var(--text-color);
}




.rightsidetop{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        height: 40px;
        margin: 20px;
        gap:1vw;

}
.date{

    font-size: clamp(1.5rem, 4vw, 2.5rem);  
    font-family: var(--primaryfont);
    color: var(--text-color);

}



